*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #F5F7FB;
}

/* Blobs */
/* .blob1{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 63% 37% 31% 69% / 52% 59% 41% 48%;
  
  left: 90%;
  top: -15%;
  right: -8%;
  background: #FFFAD1;  
  overflow: hidden;
  }

.blob2 {
  background: #DEEBF8;
  position: absolute;
  width: 297px;
  height: 235px;
  border-radius: 68% 32% 40% 60% / 57% 51% 49% 43%;
}

@media only screen and (max-width: 500px) {
  .blob1{
    width: 100px;
    height: 100px;
    top: -3%;
    right: -8%;
  } 
  } */

.home {
  width: 90%;
  max-width: 800px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#home_title{
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2rem;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin-bottom: 0.75rem;
}

#home_paragraph{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin-bottom: 30px;
}

#home_button{
  padding: 1rem 2rem;
  background-color: #4D5B9E;
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
  cursor: pointer;
  border: none;
}

#home_button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

a {
  text-decoration: none;
  color: #F5F7FB;
}

/* Quiz Section */
.quiz {
    width: 90%;
    max-width: 800px;
    /* display: flex; */
    margin: 0 auto;
    padding: 40px 0;
    /* align-items: start;
    justify-content: center; */
    /* flex-direction: column; */
    min-height: 100vh;
  }


.quiz_question{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 19px;
  color: #293264;
  margin-block: 1rem;
}

.quiz_options{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

.quiz_option{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #293264;
  padding: 0.3125rem 0.9375rem;
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
  cursor: pointer;
}

/* Button */
.submit{
  background: #4D5B9E;
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 500px){
  .quiz{
    padding: 20px 0;
  }
  .quiz_question{
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-block: 1rem;
  }

  .quiz_options{
    flex-wrap: wrap;
    margin-right: 5px;
    gap: 0.3rem;
    margin-bottom: 1rem;
  }

  .quiz_option{
    padding: 4px 9px;
    font-size: 10.24px;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    margin-bottom: 0.2rem;
  }
}