*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  background-color: #F5F7FB;
}

/* Blobs */
/* .blob1{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 63% 37% 31% 69% / 52% 59% 41% 48%;
  
  left: 90%;
  top: -15%;
  right: -8%;
  background: #FFFAD1;  
  overflow: hidden;
  }

.blob2 {
  background: #DEEBF8;
  position: absolute;
  width: 297px;
  height: 235px;
  border-radius: 68% 32% 40% 60% / 57% 51% 49% 43%;
}

@media only screen and (max-width: 500px) {
  .blob1{
    width: 100px;
    height: 100px;
    top: -3%;
    right: -8%;
  } 
  } */

.home {
  width: 90%;
  max-width: 800px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#home_title{
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2rem;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin-bottom: 0.75rem;
}

#home_paragraph{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin-bottom: 30px;
}

#home_button{
  padding: 1rem 2rem;
  background-color: #4D5B9E;
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
  cursor: pointer;
  border: none;
}

#home_button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

a {
  text-decoration: none;
  color: #F5F7FB;
}